<div id="header-start">
    <a href="/index.html">
        <img src="/images/BoTW.png" id="logo" alt="BoTW Collection logo. A scroll with items to collect on it.">
    </a>
    <a href="/index.html">
        <h1>BoTW Collection</h1>
    </a>
    <input type="checkbox" id="menu" name="menu" class="menu-checkbox" class="hide" checked>
    <div class="menu hide" onclick="menuClick()">
        <label class="menu-toggle hide" for="menu" id="hamburger"><img src="/images/hamburger.png"
                alt="A hamburger menu. Icon from icons8"></label>
        <ul id="menu-list" class="hide">
            <li class="creatures"><a href="/category/index.html?category=creatures">Creatures</a></li>
            <li class="equipment"><a href="/category/index.html?category=equipment">Equipment</a></li>
            <li class="materials"><a href="/category/index.html?category=materials">Materials</a></li>
            <li class="monsters"><a href="/category/index.html?category=monsters">Monsters</a></li>
            <li class="treasure"><a href="/category/index.html?category=treasure">Treasure</a></li>
            <li class="list"><a href="/list/index.html">Collection List</a></li>
            <li>
                <form name="ham-search" id="ham-search">
                    <input type="text" name="hamSearchValue" placeholder="Search" />
                    <button id="hamSearchButton" type="submit">
                        <img src="/images/search.svg" alt="search icon from iconfinder.com" />
                    </button>
                </form>
            </li>
        </ul>

    </div>
</div>
<div id="header-end">
    <div class="dropdown">
        <button class="dropbtn">Categories
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="creatures" href="/category/index.html?category=creatures">Creatures</a>
            <a class="equipment" href="/category/index.html?category=equipment">Equipment</a>
            <a class="materials" href="/category/index.html?category=materials">Materials</a>
            <a class="monsters" href="/category/index.html?category=monsters">Monsters</a>
            <a class="treasure" href="/category/index.html?category=treasure">Treasure</a>
        </div>
    </div>
    <form name="search" id="search">
        <input type="text" name="searchValue" placeholder="Search" />
        <button id="searchButton" onclick="window.location.href='#';" type="submit">
            <img src="/images/search.svg" alt="search icon from iconfinder.com" />
        </button>
    </form>
    <a href="/list/index.html">
        <img src="/images/ancient-scroll.png" id="scroll"
            alt="Scroll icons created by Freepik - Flaticon at https://www.flaticon.com/free-icons/scroll">
    </a>
</div>